.Navbar {
	background: #000000;
	height: 80px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Navbar a {
	text-decoration: none;
	color: white;
}

.Brand {
	margin-left: 40px;
}

.Dropdown {
	margin-right: 100px;
}

.DropdownItem {
	color: #aaa;
}
